@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* core styles */
body {
  display: block;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.contain {
  min-height: 750px;
  text-align: center;
  width: 375px;
  border: 1px solid rgb(221 217 217);
  border-radius: 15px;
}
.flex-container{
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;

}
.nav-container {
  width: 375px;
  padding-top: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 1px solid rgb(221 217 217);
  border-right: 1px solid rgb(221 217 217);
}

.nav-container .logo-text a {
  width: 76px;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
}

.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
}

#section-a {
  min-height: 718px;
  text-align: center;
  width: 375px;
  border-left: 1px solid rgb(221 217 217);
  border-right: 1px solid rgb(221 217 217);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#section-a .bg-img {
  position: absolute;
  background: url("images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  width: 375px;
  height: 718px;
  margin-top: 0;
  margin-left: 0;
  z-index: -1;
}

main p {
  width: 295px;
  height: 76px;
  font-style: normal;
  text-align: left;
  padding-left: 7px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#section-a .middle-text {
  padding-top: 6em;
  align-self: flex-start;
}

#section-a .middle-text h1 {
  width: 280px;
  font-weight: 700;
  font-size: 48px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  text-align: center;
  text-align: left;
  padding-left: 0.7em;
}

#section-a .middle-text p {
  width: 327px;
  height: 146px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-align: left;
  padding-left: 1.5em;
}

#section-a .base-text {
  align-self: flex-start;
  width: 179px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #7f8cff;
  padding-left: 0.3em;
}

#section-a .media-icons {
  width: 220px;
  align-self: flex-start;
}

#section-a .media-icons ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-left: 1.7em;
}
/*Style section 1*/
#section-1 .s1-container {

  box-sizing: border-box;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 700px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-left: 1.5em;
  margin-top: 1.2em;
}
#section-1 .image-container {
  width: 340px;
  height: 220px;
  background: url("images/section-2.png");
  background-repeat: no-repeat;
  border-radius: 8px;
  margin-left: 0;
  margin-top: 0.5em;
 
}
#section-1 .newh1 {
  width: 200px;
  font-size: 22px;
}
#section-1 h1 {
  display: flex;
  align-self: flex-start;
  width: 82px;
  height: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

#section-2 .image-container2 {
  width: 340px;
  height: 220px;
  background: url("images/section-3.png");
  background-repeat: no-repeat;
  border-radius: 8px;
  order: 0;
  flex-grow: 0;
  margin-left: 0;
  margin-top: 0.5em;
}
#section-2 .s2-container {

  box-sizing: border-box;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 700px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-left: 1.5em;
  margin-top: 1.2em;
}
#section-2 .newh2 {
  width: 170px;
  text-align: left;
  font-size: 22px;
  margin-left: 4px;
}
/*End of section-2 styling*/

#section-3 .image-container3 {
  width: 340px;
  height: 220px;
  background: url("images/section-4.png");
  background-repeat: no-repeat;
  border-radius: 8px;
  order: 0;
  flex-grow: 0;
  margin-left: 0;
  margin-top: 0.5em;
}
#section-3 .s3-container {

  box-sizing: border-box;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 700px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-left: 1.5em;
  margin-top: 1.2em;
}
#section-3 h1 {
  display: flex;
  align-self: flex-start;
  width: 82px;
  font-size: 22px;
  width: 200px;
  height: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}













.base-button{
  display: flex;
  align-self: flex-start;
  margin-left: 4px;
}
.base-button a {
  text-decoration: none;
  font-weight: 500;
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 15px;
  padding: 0.7em;
 
}
.list-container ul {
  display: flex;
  align-self: flex-start;
  list-style: none;
  padding-left: 3px;
  justify-content: space-around;
  width: 250px;
}
.list-container ul li a {
  text-decoration: none;
  width: 50px;
  height: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  color: #344563;
}
.base-links ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-left: 5px;
  width: 180px;
}

.base-links ul li {
  padding: 1em 1px;
}

.base-links ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  text-decoration: none;
  background: #ebebff;
  border-radius: 8px;
}
.base-links .base-link-text1{
  width: 38px;
  margin-right: 8px;
}
.base-links .base-link-text2{
  width: 32px;
  margin-right: 8px;
}
.base-links .base-link-text3{
  width: 75px;
  margin-right: 8px;
}

