@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* core styles */
body {
  display: block;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.contain {
  min-height: 718px;
  text-align: center;
  width: 375px;
  border: 1px solid rgb(221 217 217);
  border-radius: 15px;
}

.nav-container {
  width: 375px;
  padding-top: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 1px solid rgb(221 217 217);
  border-right: 1px solid rgb(221 217 217);
}

.nav-container .logo-text {
  width: 76px;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
}

#section-a {
  min-height: 718px;
  text-align: center;
  width: 375px;
  border-left: 1px solid rgb(221 217 217);
  border-right: 1px solid rgb(221 217 217);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#section-a .bg-img {
  position: absolute;
  background: url("images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  width: 375px;
  height: 718px;
  margin-top: 0;
  margin-left: 0;
  z-index: -1;
}

main p {
  width: 295px;
  height: 76px;
  font-style: normal;
  text-align: left;
  padding-left: 7px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#section-a .middle-text {
  padding-top: 6em;
  align-self: flex-start;
}

#section-a .middle-text h1 {
  width: 280px;
  font-weight: 700;
  font-size: 48px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  text-align: center;
  text-align: left;
  padding-left: 0.7em;
}

#section-a .middle-text p {
  width: 327px;
  height: 146px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-align: left;
  padding-left: 1.5em;
}

.base-text {
  align-self: flex-start;
  width: 179px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #7f8cff;
  padding-left: 0.3em;
}

.media-icons {
  width: 220px;
  align-self: flex-start;
}

.media-icons ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-left: 1.7em;
}
